<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <feature>
      <configurations>
        <myclass9 type="Sug.Feature.Configurations.Examples.MyClass9, Sug.Feature.Configurations" singleInstance="true">
          <param name="dataFolder">$(dataFolder)</param>
        </myclass9>

        <myclass91 type="Sug.Feature.Configurations.Examples.MyClass9, Sug.Feature.Configurations" dataPath="$(dataFolder)/logs">
          <param name="dataFolder">$(dataPath)</param>
        </myclass91>
      </configurations>
    </feature>
  </sitecore>
</configuration>