<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <feature>
      <configurations>
        <myclass7 type="Sug.Feature.Configurations.Examples.MyClass7, Sug.Feature.Configurations" singleInstance="true">
          <param name="myclass4" ref="feature/configurations/myclass4" />
        </myclass7>
      </configurations>
    </feature>
  </sitecore>
</configuration>