<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <feature>
      <configurations>
        <primaryRssFeed type="Sug.Foundation.Rss.Configuration.RssFeedSettings, Sug.Foundation.Rss">
          <feedUrl>https://primary.feed.com</feedUrl>
          <rssRefreshTtlMinutes>5</rssRefreshTtlMinutes>
        </primaryRssFeed>
        <alternativeRssFeed type="Sug.Foundation.Rss.Configuration.RssFeedSettings, Sug.Foundation.Rss">
          <feedUrl>https://alternative.feed.com</feedUrl>
          <rssRefreshTtlMinutes>5</rssRefreshTtlMinutes>
        </alternativeRssFeed>
      </configurations>
    </feature>
  </sitecore>
</configuration>